@model Products

<div class="card">
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><h2>@Model.NameProd</h2></li>
        <li class="list-group-item" @Model.Category</li>
        <li class="list-group-item">@Model.DescriptionProd</li>
        <li class="list-group-item">Price: @Model.Price &#8364;</li>
        <li class="list-group-item">@Model.Story</li>
    </ul>
</div>